

.loginform {
  max-width: 400px;
  margin: 100px auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fafafa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 8);
}


.loginh1 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #000000;
}

#logindl {
  margin: 0;
}

#logindt {
  margin-top: 1rem;
  font-weight: bold;
  color: #000000;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 0.75rem;
  margin-top: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
}

#loginbtn {
  width: 100%;
  padding: 0.75rem;
  margin-top: 1.5rem;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
